PREFIX=.                                                            # Put anything except @ (Ex: !, -, +, :, .  etc.).
MODS=2348094234180,2349163861236                                    # Put any phone number without + , () and spaces.
MONGODB=mongodb+srv://Tommydlonewolf:<Tommydav>@cluster0.yeswmep.mongodb.net/                       # Put your own MongoDB url, we will not provide you any public MongoDB url for stability.
SESSION_ID=ghdyjdhjdsjhddghdyyue                                    # Put any random value and keep it copied.
OPENAI_API=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      # Put your own OpenAI API key.
TENOR_API_KEY=AIzaSyCnDRdx0ze9RF_mKbHmre7ZiPJT2Vk8JoA               # Put your Tenor API key if you want.
PACKNAME=Annie Bot                                                  # Put any sticker packname you want.
AUTHOR=by: TOMI Atlas edit                                          # Put any author name you want.
PORT=10000                                                          # Put any port you want (Recommended 10000 as it supports all platforms).
